#include <zephyr/dt-bindings/led/led.h>
#include <zephyr/dt-bindings/gpio/gpio.h>

&spi1 {
	status = "okay";
	cs-gpios = <&gpioa 4 GPIO_ACTIVE_LOW>;

	led_strip: ws2812@0 {
		compatible = "worldsemi,ws2812-spi";
		reg = <0>;
		spi-max-frequency = <8000000>;

		chain-length = <256>;
		color-mapping = <LED_COLOR_ID_GREEN
				 LED_COLOR_ID_RED
				 LED_COLOR_ID_BLUE>;
		spi-one-frame = <0xFE>;
		spi-zero-frame = <0xE0>;
		bits-per-symbol = <8>;
		reset-delay = <500>;
	};
};

/ {
	aliases {
		led-strip = &led_strip;
	};
};
